<div class="summer-school-sidebar">

  <div class="sidebar-block">
    <div class="sidebar-label">ORGANIZED BY</div>

    <img src="/assets/images/ceps.png"
         alt="Centre for Economics at Paris-Saclay"
         class="sidebar-logo sidebar-logo-ceps">
  </div>

  <div class="sidebar-block">
    <div class="sidebar-label">VENUE</div>

    <!-- <div class="sidebar-text">
      <strong>ENS Paris-Saclay</strong><br>
      Gif-sur-Yvette, France
    </div> -->

    <img src="/assets/images/ens-paris-saclay.png"
         alt="ENS Paris-Saclay"
         class="sidebar-logo sidebar-logo-ens sidebar-logo-venue">
  </div>

  <div class="sidebar-block sidebar-block--supported">
  <div class="sidebar-label">FINANCIAL SUPPORT</div>

  <img src="/assets/images/gs-economics-management.png"
       alt="Graduate School Economics & Management"
       class="sidebar-logo sidebar-logo-gs">
</div>
  
  <!-- <div class="sidebar-block">
    <div class="sidebar-label">SUPPORTED BY</div>

    <img src="/assets/images/gs-economics-management.png"
         alt="Graduate School Economics & Management"
         class="sidebar-logo sidebar-logo-gs">
  </div> -->

</div>
